<!DOCTYPE html>
<html lang="zh-CN">
<head>
<%= require('html-loader!./layout/meta.html') %>
<title><%= htmlWebpackPlugin.options.title %> — ACAT</title>
</head>
<body id="top">
<%= require('html-loader!./layout/header-simple.html') %>
<div class="wthree-dot">
	<div class="profile">
		<div class="wrap">
			<div class="contact-form">
			</div>
		</div>
	</div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-modal/0.8.2/jquery.modal.min.js"></script>
</body>
</html>