<!DOCTYPE html>
<html lang="zh-CN">
<head>
<%= require('html-loader!./layout/meta.html') %>
<title><%= htmlWebpackPlugin.options.title %> — ACAT</title>
</head>
<body id="top">
<%= require('html-loader!./layout/header-simple.html') %>
<div class="wthree-dot">
	<div class="profile">
		<div class="wrap">
			<div class="contact-form">
		        <form class="form-signin">
		            <h2> 考官通行码 </h2>
		            <input type="text" name="passphrase" id="passphrase" class="form-control" required autofocus/>

		            <button class="btn btn-lg  btn-block" id="submitBtn" type="button" >立即登录
		            </button>
		        </form>
			</div>
		</div>
	</div>
</div>
<%= require('html-loader!./layout/footer.html') %>
</body>
</html>