<section class="to-top">
    <div class="container">
        <div class="row">
            <div class="to-top-wrap">
                <a href="#top" class="top"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-links">
                    <ul class="footer-group">
                        <li><a href="#Java">Java攻城狮</a></li>
                        <li><a href="#PHP">PHP开发</a></li>
                        <li><a href="#Web">WEB前端</a></li>
                        <li><a href="#Python">Python开发</a></li>
                    </ul>
                    <p><a href="#top">Copyright © 2017  ACAT</a></p>
                </div>
            </div>
            <div id="modal" class="modal" style="display: none;"></div>
        </div>
    </div>
</footer>
<script src="https://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-modal/0.8.2/jquery.modal.min.js"></script>