<section class="to-top">
    <div class="container">
        <div class="row">
            <div class="to-top-wrap">
                <a href="#top" class="top"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="footer-links">
                    <ul class="footer-group">
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Licence</a></li>
                        <li><a href="#">Codrops</a></li>
                        <li><a href="#">Peter Finlan</a></li>
                    </ul>
                </div>
            </div>
            <div class="social-share">
                <p>Share Sedna with your friends</p>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>