<section class="hero">
    <section class="navigation">
        <header>
            <div class="header-content">
                <div class="logo">
                    <a href="./index.html"><img src="http://owkgm4wri.bkt.clouddn.com/acat-logo.png" alt="ACAT"></a>
                </div>
                <div class="header-nav">
                    <nav>
                        <ul class="primary-nav">
                            <li><a href="./index.html#Java">Java攻城狮</a></li>
                            <li><a href="./index.html#Web">Web攻城狮</a></li>
                            <li><a href="./index.html#PHP">PHP攻城狮</a></li>
                            <li><a href="./index.html#Python">Python攻城狮</a></li>
                            <li><a href="./interviewEntry.html">2017纳新</a></li>
                        </ul>
                        <ul class="member-actions">
                            <li><a href="./loginIn.html" class="login">考官登陆</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="navicon">
                    <a class="nav-toggle" href="#"><span></span></a>
                </div>
            </div>
        </header>
    </section>
</section>