<section class="hero">
    <section class="navigation">
        <header>
            <div class="header-content">
                <div class="logo">
                    <a href="./index.html"><img src="../../assets/acat-logo.png" alt="ACAT"></a>
                </div>
                <div class="header-nav">
                    <nav>
                        <ul class="primary-nav">
                            <li><a href="#Java">Java攻城狮</a></li>
                            <li><a href="#Web">Web攻城狮</a></li>
                            <li><a href="#PHP">PHP攻城狮</a></li>
                            <li><a href="#Python">Python攻城狮</a></li>
                            <li><a href="./interviewEntry.html">2017纳新</a></li>
                        </ul>
                        <ul class="member-actions">
                            <li><a href="./loginIn.html" class="login">考官登陆</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="navicon">
                    <a class="nav-toggle" href="#"><span></span></a>
                </div>
            </div>
        </header>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="hero-content text-center">
                    <h1></h1>
                    <p class="intro"></p>
                    <a href="./apply.html" class="btn btn-accent btn-large btn-margin-right">立即报名</a>
                    <a href="#summary" class="btn btn-accent btn-large">了解更多</a>
                </div>
            </div>
        </div>
    </div>
    <div class="down-arrow floating-arrow"><a href="#"><i class="fa fa-angle-down"></i></a></div>
</section>