/*
* @Author: Administrator
* @Date:   2017-09-09 16:49:33
* @Last Modified by:   Administrator
* @Last Modified time: 2017-09-09 18:12:54
*/
/* form */
.wrap {
    width: 30%;
    margin: 2em auto 0;
}
.contact-form{
     height: auto;
     margin-bottom: 2em;
}

.contact-form{
    background: rgba(0, 0, 0, 0.5);
    padding: 0 ;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}


@media(max-width:1280px){
    .wrap {
        width: 60%;
    }
}
@media(max-width:1080px){
    .wrap {
        width: 70%;
    }
}
@media(max-width:900px){
    .wrap {
        width: 80%;
    }
}
@media(max-width:667px){
    .wrap {
        width: 90%;
    }
}
@media(max-width:600px){
    body {
        padding: 0;
    }
}
@media(max-width:568px){
    .contact-form {
        background: rgba(0, 0, 0, 0.5);
        margin-bottom: 2em;
    }
}
@media(max-width:480px){
    .contact-form textarea {
        min-height: 16em;
    }
    .contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea {
        width: 100%;
    }
    .contact-form input[type="submit"] {
        padding: .8em 3em;
    }
}
@media(max-width:414px){
}
@media(max-width:375px){
}
@media(max-width:320px){

}